.mobile-bg{
    background: url("../img/download.jpg") no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
}

.mobile-bg .mobile-logo{
    position: absolute;
    top: 4%;
    left: 6%;
}

.mobile-bg .mobile-logo img {
    width: 40%;
}

.mobile-bg .mobile-tip{
    position: absolute;
    width: 100%;
    margin: 0 auto;
    bottom: 10%;
    text-align: center;
}

.mobile-bg .mobile-tip .mobile-text{
    margin-top: 1%;
    color: #ffffff;
}

.isAndroid{
    display: none;
}

.isIos{
    display: none;
}

.isNoChina{
    display: none;
}

.isChina{
    display: none;
}

.mobile_img{
    width: 100%;
}

.mobile_img .step_m_img{
    width: 100%;
}

.mobile-head{
    position: fixed;
    top:0
}

.mobile-main{
    margin-top: 40px;
}

.mobile-main .help-modal{
    width: 250px;
    height: 50px;
    display: block;
    margin: 10px auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    background: #36d741;
}

.mobile-main .mobile-main-down{
}

.modal-bg{
    display: none;
}

.active-modal-bg{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.9;
    z-index: 100;
}

.active-modal{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
}

.active-modal .modal-center{
    position: relative;
    top:35%;
}

.active-modal .modal-center .modal-btn{
    width: 75%;
}

.active-modal .modal-center .modal-top{
    background-color: #12b7f5;
    margin-bottom: 20px
}

.active-modal .modal-head{
    position: relative;
    top:4%;
}

.active-modal .modal-head .head-close{
    color: #f9fafb;
    border: 1px solid #717171;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    background: #717171;
    position: relative;
    left:86%;
}

@media screen and (max-width: 320px) {
    .mobile-bg .mobile-tip{
        bottom: 6%;
    }
}

@media screen and (orientation: landscape) {
    /*横屏 css*/
    .mobile-bg {
        background: url('../img/download2.jpg') no-repeat;
        background-size: 100%;
    }
}